[Unit]
Description=Ollama server (user)
After=network.target

[Service]
ExecStart=/usr/sbin/ollama serve
Restart=on-failure
Environment=OLLAMA_HOST=127.0.0.1:11434

[Install]
WantedBy=default.target
