local M = {}

function M.setup()
  local ok, obsidian = pcall(require, "obsidian")
  if not ok then
    -- print("Obsidian plugin is not installed yet.")
    return
  end

  local vault = os.getenv("OBSIDIAN_DIR") or vim.fn.expand("~/Obsidian")

  obsidian.setup({
    workspaces = {
      {
        name = "main",
        path = vault,
      },
    },
    completion = {
      nvim_cmp = false, 
    },
    ui = {
      enable = true,
    },
    notes_subdir = "notes",
    daily_notes = {
      folder = "daily",
    },
  })

  vim.keymap.set("n", "<Leader>oo", "<cmd>ObsidianQuickSwitch<CR>", { desc = "Obsidian Quick Switch" })
  vim.keymap.set("n", "<Leader>on", "<cmd>ObsidianNew<CR>",         { desc = "Obsidian New" })
  vim.keymap.set("n", "<Leader>ot", "<cmd>ObsidianToday<CR>",       { desc = "Obsidian Today" })
end

return M
